.navbar-below {
    margin-top: 100px;
    margin-left: 25%;
}
.element-color {
    color: white;
    
}
.donor-info-margin-left {
    margin-left: 10%;
    margin-top: 90px;
    float: left;

}
.donor-info-margin-right {
    margin-left: 5%;
    margin-top: 90px;
    float: right;
    margin-right: 10%;
    

}
.sign-in-margin {
    margin-left: 5%;
    margin-top: 50px;
    float: right;
    margin-right: 6%;
}
.bodyBackGround {
    background-color: #F8e0e0;
}
