@{
    ViewBag.Title = "aboutUs";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="container">
    <div class="navbar-below">
        <br />

        <nav class="nav navbar-default" role="navigation">

            <div class="navbar-header" style="font-family: 'Cooper Std';">
                
                <a style="font-size: xx-large; color: saddlebrown" class="navbar-brand" href=""> ABOUT </a>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8" style="color: white">
            
            <br /><br />   
            <p>
                Universally, 'Blood' is recognized as the most precious element that sustains life.
                It saves innumerable lives across the world in a variety of conditions.
                Once in every 2- seconds, someone, somewhere is desperately in need of blood.
                More than 29 million units of blood components are transfused every year.
            </p><p>The need for blood is great - on any given day, approximately 39,000 units of Red Blood Cells are needed. 
                Each year, we could meet only up to 1% (approx) of our nation’s demand for blood transfusion.
                    Despite the increase in the number of donors, blood remains in short supply during emergencies,
                 mainly attributed to the lack of information and accessibility. We positively believe this tool can overcome most of these challenges by effectively connecting the blood donors with the blood recipients.</p>
            <p class="intro" align="justify" style="font-size: 18px">
                <br /><br />Its a website thathelps you for donating and finding blood.<br />
                Muhammad Faqir Hussain<br />
                Contact No. 03356235346<br />
                Email: bitf12m018@pucit.edu.pk<br />


            </p>
        </div>
        <div class="col-lg-2">

            <br /><img src="/Image/patient1.png" width="280" height="210" class="pull-left"><br><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><img src="/Image/logo1.jpg" width="280" height="210" class="pull-left"><br /><br><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><img src="/Image/donor2.png" width="280" height="210" class="pull-left">

        </div>
    </div>

</div>

