@using BootstrapPractice.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
<link rel="stylesheet" type="text/css" href="~/Content/engine1/style.css" />
<style type="text/css">
    a#vlb {
        display: none;
    }
</style>
<script type="text/javascript" src="~/Content/engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
<div style="margin-top: 90px">
    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <a href="#"><img src="~/Content/data1/images/bb7.jpg" alt="bb7" title="bb7" id="wows0" /></a>
            <a href="#"><img src="~/Content/data1/images/bb8.jpg" alt="bb8" title="bb8" id="wows1" /></a>
            <a href="#"><img src="~/Content/data1/images/bb3.jpg" alt="bb3" title="bb3" id="wows2" /></a>
            <a href="#"><img src="~/Content/data1/images/bb4.jpg" alt="bb4" title="bb4" id="wows3" /></a>
            <a href="#"><img src="~/Content/data1/images/bb5.jpg" alt="bb5" title="bb5" id="wows4" /></a>
            <a href="#"><img src="~/Content/data1/images/bb6.jpg" alt="bb6" title="bb6" id="wows5" /></a>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#wows0" title="bb7"><img src="~/Content/data1/tooltips/bb7.jpg" alt="bb7" />1</a>
                <a href="#wows1" title="bb8"><img src="~/Content/data1/tooltips/bb8.jpg" alt="bb8" />2</a>
                <a href="#wows2" title="bb3"><img src="~/Content/data1/tooltips/bb3.jpg" alt="bb3" />3</a>
                <a href="#wows3" title="bb4"><img src="~/Content/data1/tooltips/bb4.jpg" alt="bb4" />4</a>
                <a href="#wows4" title="bb5"><img src="~/Content/data1/tooltips/bb5.jpg" alt="bb5" />5</a>
                <a href="#wows5" title="bb6"><img src="~/Content/data1/tooltips/bb6.jpg" alt="bb6" />6</a>
            </div>
        </div>
        <a style="display:none" href="http://wowslider.com">jQuery Slider Auto by WOWSlider.com v1.7</a>
        <div class="ws_shadow"></div>
    </div>
    <div class="col-md-2"></div>
    <div class="container col-md-8">
        <h3 style="color: #008080">Your blood donation may be even more special than you realize</h3>
        <p style="color: #4682b4">
            Your blood donation may be even more special than you realize

            A single donation from you can help one or more patients. This is possible because whole blood is made up of several useful components. <br />These components perform special functions in body. The various blood components are Platelets, Plasma and selected Plasma Proteins. <br />Each of these components can be separated from your donated volume of blood and transfused into a specific patient requiring that particular component. Thus, many can benefit from one unit of blood.
        </p><br/><br/><br/>
    </div>
    <script type="text/javascript" src="~/Content/engine1/script.js"></script>
    <!-- End WOWSlider.com BODY section -->
</div>